# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Terraform backups
*.backup

# Sensitive files
*.pem
*.key

# Ansible
*.retry

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
